<mat-toolbar>
  <ph-hamburger-button
    [initialState]="mode === 'side'"
    [isClosed]="drawer.closedStart"
    (trigger)="drawer.toggle()"
  />
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [mode]="mode"
    [opened]="mode === 'side'"
    class="ph-sidenav"
  >
    <mat-nav-list>
      <!-- Navigation Menu Components -->
      <mat-list-item routerLink="/">Home</mat-list-item>
      <mat-list-item routerLink="/about">About</mat-list-item>
      <mat-list-item routerLink="/contact">Contact</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
