.sidenav-container {
  height: 85%;
}

.ph-sidenav {
  width: 16rem;
  box-shadow: 0 0 27px 0 rgba(159, 170, 172, 0.52);
  border: 1px solid rgba(0,0,0,.05);

  &.collapsed {
    width: 3rem;

    .add-small-space-from-the-left {
      --mat-list-list-item-leading-icon-start-space: 1rem;
    }
  }
}

.add-small-space-from-the-left {
  --mat-list-list-item-leading-icon-start-space: 2.5rem;
}

.sidenav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item-label {
  font-size: 0.9rem;
}

.main-content {
  height: 100%;
  display: flex;
  width: 95%;
  max-width: 95%;
}



