.sidenav-container {
  height: 85%;
}
.ph-sidenav {
  width: 15.6rem;
  background-color: rgb(192, 197, 192);
}
.title {
  margin-left: 1rem;
}
.main-content {
  height: 100%;
  background-color: green;
}
