.sidenav-container {
  height: 85%;
}

.ph-sidenav {
  width: 16rem;
  background-color: rgb(192, 197, 192);
  transition: 0.3s ease-in-out;

  &.collapsed {
    width: 3rem;
    transition: 0.4s ease-in-out;

    .mat-list-item .mat-list-item-content {
      padding: 0 1rem;
    }
    .add-small-space-from-the-left {
      --mat-list-list-item-leading-icon-start-space: 16px;
    }
  }
}

.add-small-space-from-the-left {
  --mat-list-list-item-leading-icon-start-space: 48px;
}

.hide-label {
  span[matListItemTitle] {
    display: none;
  }
}

.sidenav-item {
  display: flex;
  align-items: center;
  gap: 1rem;

}

.main-content {
  height: 100%;
  background-color: green;
  overflow: hidden;
}

