<app-header>
  <div class="hamburger-btn-container">
    <ph-hamburger-button
      [initialState]="mode === 'side'"
      [isClosed]="sidenav.closedStart"
      (trigger)="onSideNavToggle()"
    />
  </div>
</app-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="mode"
    [opened]="true"
    [class.collapsed]="isSideNavCollapsed()"
    class="ph-sidenav"
    @sidenavAnimation
    [@smoothExpandCollapse]="sidenavAnimationState()"
  >
    <mat-nav-list>
      @for (item of menuItems(); track item.label) {
      <a
        mat-list-item
        class="menu-item"
        [routerLink]="item.route"
        (click)="onMenuItemClick(item)"
      >
        <mat-icon [matTooltip]="item.label" matListItemIcon>{{
          item.icon
        }}</mat-icon>
        <span class="item-label" matListItemTitle>{{ item.label }}</span>

        @if (item.subItems) {
        <span matListItemMeta>
          @if (isSubMenuOpen(item.label)) {
          <mat-icon>expand_more</mat-icon>
          } @else {
          <mat-icon>chevron_right</mat-icon>
          }
        </span>
        }
      </a>

      @if (item.subItems && isSubMenuOpen(item.label)) {
      <div @expandSubMenu>
        @for (subItem of item.subItems; track subItem.label) {
        <a
          mat-list-item
          class="subMenu-item add-small-space-from-the-left"
          [routerLink]="item.route + '/' + subItem.route"
          (click)="onSubMenuItemClick(subItem)"
        >
          <mat-icon [matTooltip]="subItem.label" matListItemIcon>{{
            subItem.icon
          }}</mat-icon>
          <span class="item-label" matListItemTitle>{{ subItem.label }}</span>
        </a>
        }
      </div>
      } }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content
    [ngStyle]="{ marginLeft: isSideNavCollapsed() ? '4rem' : '16rem' }"
  >
    <div class="main-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
