.sidenav-container {
  height: 85%;
}

.ph-sidenav {
  width: 15.6rem;
  background-color: rgb(192, 197, 192);
  transition: width 0.2s ease-in-out;
  &.collapsed {
    width: 3rem;

    .mat-list-item .mat-list-item-content {
      padding: 0 1rem;
    }
  }
}

.hide-label {
  span[matListItemTitle] {
    display: none;
  }
}

.sidenav-item {
  display: flex;
  align-items: center;
  gap: 1rem;

}

.main-content {
  height: 100%;
  background-color: green;
  overflow: hidden;
}

.add-small-space-from-the-left {
  --mat-list-list-item-leading-icon-start-space: 48px;
}
