<ph-toolbar
  [title]="'Change Password'"
  [isCalledFromEditScreen]="true"
  [canExit]="true"
  (exit)="onExitClick($event)"
></ph-toolbar>
<form
  class="change-password-form"
  [formGroup]="changePasswordForm"
  (ngSubmit)="changePassword()"
>
  <div class="current-password-container">
    <mat-label>Current Password</mat-label>
    <ph-text-box
      [type]="'password'"
      formControlName="currentPassword"
    ></ph-text-box>
  </div>
  <div class="new-password-container">
    <mat-label>New Password</mat-label>
    <ph-text-box
      [type]="'password'"
      formControlName="newPassword"
    ></ph-text-box>
  </div>
  <div class="confirm-password-container">
    <mat-label>Confirm Password</mat-label>
    <ph-text-box
      [type]="'password'"
      formControlName="confirmPassword"
    ></ph-text-box>
  </div>

  <ph-button [type]="'submit'" [text]="'Confirm'"></ph-button>
</form>
