<ph-toolbar
  [title]="'Change Password'"
  [isCalledFromEditScreen]="true"
  [canExit]="true"
  (exit)="onExitClick($event)"
></ph-toolbar>
<form
  class="change-password-form"
  [formGroup]="changePasswordForm"
  (ngSubmit)="changePassword()"
>
  <div class="current-password-container">
    <mat-label>Current Password</mat-label>
    <input type="password" formControlName="currentPassword" />
  </div>
  <div class="new-password-container">
    <mat-label>New Password</mat-label>
    <input type="password" formControlName="newPassword" />
  </div>
  <div class="confirm-password-container">
    <mat-label>Confirm Password</mat-label>
    <input type="password" formControlName="confirmPassword" />
  </div>

  <ph-button [type]="'submit'" [text]="'Confirm'"></ph-button>
</form>
