@if (!isLoading()) {
<div class="form-container">
  <form class="ph-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="username-container">
      <input
        class="ph-username-field"
        type="text"
        placeholder="Username"
        formControlName="username"
        [class.invalid]="
          loginForm.get('username')?.invalid &&
          (loginForm.get('username')?.dirty ||
            loginForm.get('username')?.touched)
        "
      />
    </div>
    <div class="password-container">
      <input
        class="ph-password-field"
        type="text"
        formControlName="password"
        placeholder="Password"
        [class.invalid]="
          loginForm.get('password')?.invalid &&
          (loginForm.get('password')?.dirty ||
            loginForm.get('password')?.touched)
        "
      />
    </div>
    <div class="submit-btn-container">
      <button class="ph-login-btn" type="submit" (click)="login()">
        Login
      </button>
    </div>
  </form>
</div>
} @else {
<div class="form-container">
  <ph-loading-spinner></ph-loading-spinner>
</div>
}
