.main-container {
  width: 100%;
  height: 94.3%;
}

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: var(--ph-header-light);
}

app-sign-up {
  height: 100%;
}

.ph-form-box {
  box-shadow:
  0 8px 16px rgba(0, 0, 0, 0.12),
  0 4px 6px rgba(0, 0, 0, 0.08);
  background: rgb(195, 228, 248);
  max-width: 40%;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
}

.ph-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.ph-login-title {
  font-size: 2rem;
  font-weight: bold;
  place-self: center;
  margin-bottom: 1rem;
  color: var(--ph-loginButton);
}

.fields-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ph-login-logo {
  object-fit: cover;
  width: 250px;
  height: 120px;
}

::ng-deep .ph-username-field, ::ng-deep .ph-password-field {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.4rem 0.1rem var(--ph-deepShadow);
  width: 100%;

  &:focus-within {
    outline: 0.2rem solid var(--ph-mainColor);
  }
}

.ph-password-container, .ph-username-container {
  position: relative;
  width: 100%;
}

.ph-password-eye-reveal {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  color: var(--ph-loginButton);

}

.ph-login-btn {
  box-shadow: 0.2rem 0.2rem 0.4rem 0.1rem var(--ph-deepShadow);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background: var(--ph-loginButton);
  color: white;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  transition: background 0.5s
}
.ph-login-btn:hover {
  background: rgba(4, 69, 112, 0.671);
}

::ng-deep .invalid {
  box-shadow: 0.1rem 0.1rem 0.3rem 0.2rem var(--ph-danger) !important;
}

.ph-error-message {
  color: var(--ph-danger);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: var(--ph-fontSize-normal);
  word-wrap: break-word;
  text-align: center;
  margin-top: 2rem;
}

.field-required {
  color: var(--ph-danger);
}
.field-required-container {
  display: flex;
  // gap: 0.5rem;
  margin-left: 0.5rem;
  position: relative;
  color: var(--ph-danger);
  /* bottom: 10px; */
}

.remember-me-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.forgot-password-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -30px;
}

::ng-deep .sign-up-button {
  text-decoration: underline;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--ph-loginButton);

  &:hover {
  color: hsl(203, 82%, 22%);
  }
}

.enter-animation {
    animation: slide-fade 1s;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (max-width: 750px) {
  .ph-form-box {
    min-width: 50%;
    min-height: 70%;
  }
}
@media screen and (max-width: 570px) {
  .ph-form-box {
    min-width: 60%;
    min-height: 70%;
  }
}
@media screen and (max-width: 470px) {
  .ph-form-box {
    min-width: 90%;
    min-height: 70%;
  }
}
@media screen and (max-height: 660px) {
  .ph-form-box {
    min-width: 90%;
    min-height: 90%;
  }
}

.loading-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: var(--ph-header-light);
  height: 100%;
}

.loading-spinner-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
