/* You can add global styles to this file, and also import other style files */
:root {
  --crm-blue-20: #BFD4E7;
  --crm-blue-50: #80A9D1;
  --crm-blue-100: #607E9C;
  --crm-blue-200: #003D7A;
  --crm-blue-300: #002951;
  --crm-blue-400: #001E3C;
  --crm-blue-500: #001830;
  --crm-fontSize-small: 0.5rem;
  --crm-fontSize-normal: 1rem;
  --crm-fontSize-medium: 1.2rem;
  --crm-fontSize-medium-l: 1.5rem;
  --crm-fontSize-large: 2rem;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
