html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}

:root {
  // Light Mode
  --ph-mainColor-light: hsl(202, 66%, 38%);
  --ph-text-light: hsl(0, 0%, 6%);
  --ph-icon-light: hsl(0, 2%, 11%);
  --ph-background1-light: hsl(0, 0%, 100%);
  --ph-background2-light: hsl(0, 0%, 89%);
  --ph-header-light: linear-gradient(to right, hsl(204, 81%, 65%), hsl(199, 59%, 43%), hsl(204, 75%, 34%));
  --ph-toolbar-light: hsl(0, 1%, 30%);
  --ph-footer-light: hsl(0, 0%, 100%);
  --ph-sideNav-light: hsl(0, 33%, 98%);
  --ph-success-light: hsl(118, 92%, 31%);
  --ph-passive-light: hsl(202, 70%, 40%);
  --ph-warning-light: hsl(40, 70%, 49%);
  --ph-danger-light: hsl(0, 76%, 36%);
  --ph-shadow-light: hsla(0, 2%, 68%, 0.808);
  --ph-deepShadow-light: hsla(0, 0%, 3%, 0.521);
  --ph-instagram-light: hsl(349, 75%, 57%);
  --ph-toolbarButton-light: hsl(0, 0%, 100%);
  --ph-theme-switcher-light: hsl(44, 82%, 52%);
  --ph-loginButton-light: hsl(203, 84%, 32%);


  //Dark Mode
  --ph-mainColor-dark: hsl(202, 69%, 43%);
  --ph-text-dark: hsl(0, 4%, 95%);
  --ph-icon-dark: hsl(0, 0%, 100%);
  --ph-background1-dark: hsl(220, 10%, 15%);
  --ph-background2-dark: hsla(0, 4%, 11%, 0.329);
  --ph-header-dark: hsl(220, 10%, 15%);
  --ph-toolbar-dark: hsla(0, 9%, 98%, 0.692);
  --ph-footer-dark: hsl(220, 10%, 15%);
  --ph-sideNav-dark: hsl(220, 10%, 15%);
  --ph-success-dark: hsl(118, 92%, 31%);
  --ph-passive-dark: hsl(202, 70%, 40%);
  --ph-warning-dark: hsl(40, 70%, 49%);
  --ph-danger-dark: hsl(0, 76%, 36%);
  --ph-shadow-dark: hsla(0, 2%, 84%, 0.712);
  --ph-deepShadow-dark: hsla(0, 1%, 19%, 0.521);
  --ph-instagram-dark: hsl(349, 75%, 57%);
  --ph-toolbarButton-dark: hsl(0, 0%, 100%);
  --ph-theme-switcher-dark: hsl(0, 0%, 100%);
  --ph-loginButton-dark: hsl(203, 84%, 32%);

  // Font Sizes
  --ph-fontSize-xsmall: 0.5rem;
  --ph-fontSize-small: 0.8rem;
  --ph-fontSize-normal: 1rem;
  --ph-fontSize-medium: 1.2rem;
  --ph-fontSize-large: 1.5rem;
  --ph-fontSize-xlarge: 2rem;
}

@media(prefers-color-scheme: dark) {
  :root {
    --ph-mainColor: var(--ph-mainColor-dark);
    --ph-text: var(--ph-text-dark);
    --ph-icon: var(--ph-icon-dark);
    --ph-background1: var(--ph-background1-dark);
    --ph-background2: var(--ph-background2-dark);
    --ph-header:var(--ph-header-dark);
    --ph-toolbar:var(--ph-toolbar-dark);
    --ph-footer:var(--ph-footer-dark);
    --ph-sideNav:var(--ph-sideNav-dark);
    --ph-success:var(--ph-success-dark);
    --ph-passive:var(--ph-passive-dark);
    --ph-warning:var(--ph-warning-dark);
    --ph-danger:var(--ph-danger-dark);
    --ph-shadow:var(--ph-shadow-dark);
    --ph-deepShadow:var(--ph-deepShadow-dark);
    --ph-instagram:var(--ph-instagram-dark);
    --ph-toolbarButton:var(--ph-toolbarButton-dark);
    --ph-theme-switcher:var(--ph-theme-switcher-dark);
    --ph-loginButton:var(--ph-loginButton-dark);
  }
}

@media(prefers-color-scheme: light) {
  :root {
    --ph-mainColor: var(--ph-mainColor-light);
    --ph-text: var(--ph-text-light);
    --ph-icon: var(--ph-icon-light);
    --ph-background1: var(--ph-background1-light);
    --ph-background2: var(--ph-background2-light);
    --ph-header:var(--ph-header-light);
    --ph-toolbar:var(--ph-toolbar-light);
    --ph-footer:var(--ph-footer-light);
    --ph-sideNav:var(--ph-sideNav-light);
    --ph-success:var(--ph-success-light);
    --ph-passive:var(--ph-passive-light);
    --ph-warning:var(--ph-warning-light);
    --ph-danger:var(--ph-danger-light);
    --ph-shadow:var(--ph-shadow-light);
    --ph-deepShadow:var(--ph-deepShadow-light);
    --ph-instagram:var(--ph-instagram-light);
    --ph-toolbarButton:var(--ph-toolbarButton-light);
    --ph-theme-switcher:var(--ph-theme-switcher-light);
    --ph-loginButton:var(--ph-loginButton-light);
  }
}

[color-scheme="dark"] {
  --ph-mainColor: var(--ph-mainColor-dark);
  --ph-text: var(--ph-text-dark);
  --ph-icon: var(--ph-icon-dark);
  --ph-background1: var(--ph-background1-dark);
  --ph-background2: var(--ph-background2-dark);
  --ph-header:var(--ph-header-dark);
  --ph-toolbar:var(--ph-toolbar-dark);
  --ph-footer:var(--ph-footer-dark);
  --ph-sideNav:var(--ph-sideNav-dark);
  --ph-success:var(--ph-success-dark);
  --ph-passive:var(--ph-passive-dark);
  --ph-warning:var(--ph-warning-dark);
  --ph-danger:var(--ph-danger-dark);
  --ph-shadow:var(--ph-shadow-dark);
  --ph-deepShadow:var(--ph-deepShadow-dark);
  --ph-instagram:var(--ph-instagram-dark);
  --ph-toolbarButton:var(--ph-toolbarButton-dark);
  --ph-theme-switcher:var(--ph-theme-switcher-dark);
  --ph-loginButton:var(--ph-loginButton-dark);

  a:visited {
    color: var(--ph-text) !important;
  }
}

[color-scheme="light"] {
  --ph-mainColor: var(--ph-mainColor-light);
  --ph-text: var(--ph-text-light);
  --ph-icon: var(--ph-icon-light);
  --ph-background1: var(--ph-background1-light);
  --ph-background2: var(--ph-background2-light);
  --ph-header:var(--ph-header-light);
  --ph-toolbar:var(--ph-toolbar-light);
  --ph-footer:var(--ph-footer-light);
  --ph-sideNav:var(--ph-sideNav-light);
  --ph-success:var(--ph-success-light);
  --ph-passive:var(--ph-passive-light);
  --ph-warning:var(--ph-warning-light);
  --ph-danger:var(--ph-danger-light);
  --ph-shadow:var(--ph-shadow-light);
  --ph-deepShadow:var(--ph-deepShadow-light);
  --ph-instagram:var(--ph-instagram-light);
  --ph-toolbarButton:var(--ph-toolbarButton-light);
  --ph-theme-switcher:var(--ph-theme-switcher-light);
  --ph-loginButton:var(--ph-loginButton-light);

  a:visited {
    color: var(--ph-text) !important;
  }
}

.link-name-navigation {
  text-decoration: underline;
  color: var(--ph-mainColor);
  cursor: pointer;
}
