# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/client/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/client/.vscode/*
!client/.vscode/settings.json
!client/.vscode/tasks.json
!client/.vscode/launch.json
!client/.vscode/extensions.json
.history/*
/client/src/app/config/appsettings.json
/client/documentation.txt


# Miscellaneous
/client/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Visual Studio 
/api/.vs/
/api/obj/
/api/bin/
/api/appsettings.json
/api/Documents/Documentation.txt