/* Normal */
.ph-toolbar {
  display: grid;
  grid-template-areas: "before center after";
  grid-template-columns: auto 1fr auto;
  align-items: center;
  box-shadow: 1rem 0.3rem 1rem var(--crm-blue-50);
  padding: 0;
}

.ph-toolbar-title {
  grid-area: center;
  text-align: center;
}

.ph-toolbar-side {
  display: flex;
}

.item-before {
  grid-area: before;
  justify-content: flex-start;
}

.item-after {
  grid-area: after;
  justify-content: flex-end;
}

.ph-toolbar-item {
  border: none;
  background: transparent;
}

/* Edit Mode */
.ph-toolbar-edit {

}
