/* Normal */
.ph-toolbar {
  display: grid;
  grid-template-areas: "before center after";
  grid-template-columns: auto 1fr auto;
  align-items: center;
  box-shadow: 0.5rem 0.3rem 1rem var(--ph-toolbar);
  background: var(--ph-background1);
  color: var(--ph-text);
  padding: 0;

  & mat-icon:hover {
    cursor: pointer;
    background: var(--ph-toolbarButton);
    border-radius: 0.5rem;
    color: var(--ph-toolbarButton);
  }
}

.ph-toolbar-edit {
  display: grid;
  grid-template-areas: "before center after";
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0;
  background: var(--ph-header);
  & mat-icon {
    color: var(--ph-toolbarButton);
    transition: transform 0.3s ease-in-out;
  }
  & .ph-toolbar-title {
    color: var(--ph-toolbarButton);
  }
  & mat-icon:hover {
    transform: scale(1.3);
    cursor: pointer;
  }
}

.ph-toolbar-title {
  grid-area: center;
  text-align: center;
}

.ph-toolbar-side {
  display: flex;
}

.item-before {
  grid-area: before;
  justify-content: flex-start;
}

.item-after {
  grid-area: after;
  justify-content: flex-end;
}

.ph-toolbar-item {
  border: none;
  background: transparent;
}

