<div class="ph-data-grid-container">
  <div class="ph-data-grid-toolbar">
    @if (canInsert()) {
    <button
      class="ph-data-grid-toolbar-insert-btn"
      mat-mini-fab
      aria-label="Insert Button"
      matTooltip="Insert"
      (click)="onInsertRowBtnClick()"
    >
      <mat-icon>add</mat-icon>
    </button>
    }
  </div>
  <!-- MAT TABLE -->
  <table #table class="ph-data-grid-table" mat-table [dataSource]="dataSource">
    @for (column of columns(); track column.label) { @if(column.dataType ===
    'string') {
    <ng-container [matColumnDef]="column.label">
      <th class="ph-data-grid-cell" mat-header-cell *matHeaderCellDef>
        {{ column.label }}
      </th>
      <td
        #cell
        class="ph-data-grid-cell"
        (click)="getTableRowAndColumnData(row, column, cell, i)"
        mat-cell
        *matCellDef="let row; index as i"
      >
        <div
          #cellTemplateContainer
          [attr.data-row]="i"
          [attr.data-col]="column.label"
          [hidden]="column.allowEditing && isRowInEditMode(row, i)"
        ></div>
        @if (column.allowEditing && isRowInEditMode(row, i)) {
        <input
          cdkTrapFocus
          [cdkTrapFocusAutoCapture]="true"
          matInput
          [(ngModel)]="row[column.dataField]"
          (keyup.enter)="onSaveRowBtnClick(row)"
        />
        } @else if(!column.cellTemplate) {
        {{ row[column.dataField] }}
        }
      </td>
    </ng-container>

    } @if(column.dataType === 'number') {
    <ng-container [matColumnDef]="column.label">
      <th class="ph-data-grid-cell" mat-header-cell *matHeaderCellDef>
        {{ column.label }}
      </th>
      <td
        #cell
        class="ph-data-grid-cell"
        (click)="getTableRowAndColumnData(row, column, cell, i)"
        mat-cell
        *matCellDef="let row; index as i"
      >
        <div
          #cellTemplateContainer
          [attr.data-row]="i"
          [attr.data-col]="column.label"
          [hidden]="column.allowEditing && isRowInEditMode(row, i)"
        ></div>
        @if (column.allowEditing && isRowInEditMode(row, i)) {
        <input type="number" matInput (keyup.enter)="onSaveRowBtnClick(row)" />

        } @else if(!column.cellTemplate) {
        {{ row[column.dataField] }}
        }
      </td>
    </ng-container>

    } @if(column.dataType === 'boolean') {
    <ng-container [matColumnDef]="column.label">
      <th class="ph-data-grid-cell" mat-header-cell *matHeaderCellDef>
        {{ column.label }}
      </th>
      <td
        #cell
        class="ph-data-grid-cell"
        (click)="getTableRowAndColumnData(row, column, cell, i)"
        mat-cell
        *matCellDef="let row; index as i"
      >
        <div
          #cellTemplateContainer
          [attr.data-row]="i"
          [attr.data-col]="column.label"
          [hidden]="column.allowEditing && isRowInEditMode(row, i)"
        ></div>
        @if (column.allowEditing && isRowInEditMode(row, i)) {
        <mat-checkbox
          [(ngModel)]="row[column.dataField]"
          value=""
          color="primary"
        ></mat-checkbox>
        } @else if(!column.cellTemplate) {
        <mat-checkbox
          [(ngModel)]="row[column.dataField]"
          value=""
          color="primary"
          [disabled]="true"
        ></mat-checkbox>
        }
      </td>
    </ng-container>
    } @if(column.dataType === 'datetime') {

    <ng-container [matColumnDef]="column.label">
      <th class="ph-data-grid-cell" mat-header-cell *matHeaderCellDef>
        {{ column.label }}
      </th>
      <td
        #cell
        class="ph-data-grid-cell"
        (click)="getTableRowAndColumnData(row, column, cell, i)"
        mat-cell
        *matCellDef="let row; index as i"
      >
        <div
          #cellTemplateContainer
          [attr.data-row]="i"
          [attr.data-col]="column.label"
          [hidden]="column.allowEditing && isRowInEditMode(row, i)"
        ></div>
        @if (column.allowEditing && isRowInEditMode(row, i)) {
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="row[column.dataField]"
            (keyup.enter)="onSaveRowBtnClick(row)"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        } @else if(!column.cellTemplate) {
        {{ row[column.dataField] | date : "dd/MM/yyyy" }}
        }
      </td>
    </ng-container>
    <!-- Action Buttons -->
    } } @if (canEdit() || canDelete()) {
    <ng-container matColumnDef="actions">
      <th class="ph-data-grid-cell" mat-header-cell *matHeaderCellDef>
        Actions
      </th>
      <td class="ph-data-grid-cell" mat-cell *matCellDef="let row; index as i">
        <div class="action-btns-container">
          <!-- Edit Button -->
          @if(canEdit() && isRowInViewMode() && !isRowInEditMode(row, i)) {
          <button
            mat-icon-button
            color="primary"
            (click)="onEditRowBtnClick(row, i)"
            matTooltip="Edit"
          >
            <mat-icon>edit</mat-icon>
          </button>
          }

          <!-- Save and Cancel Buttons -->
          @if(canEdit() && !isRowInViewMode() && isRowInEditMode(row, i)) {
          <button
            mat-icon-button
            color="primary"
            (click)="onSaveRowBtnClick(row)"
            matTooltip="Save"
          >
            <mat-icon>save</mat-icon>
          </button>

          } @if (canEdit() && !isRowInViewMode() && isRowInEditMode(row, i)) {
          <button
            mat-icon-button
            color="primary"
            (click)="onCancelEditRowBtnClick(row, i)"
            matTooltip="Cancel"
          >
            <mat-icon>redo</mat-icon>
          </button>
          }

          <!-- Delete Button -->
          @if (canDelete() && isRowInViewMode() && !isRowInEditMode(row, i)) {
          <button
            mat-icon-button
            color="warn"
            (click)="onDeleteRowBtnClick(row)"
            matTooltip="Delete"
          >
            <mat-icon>delete</mat-icon>
          </button>
          }
        </div>
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="getVisibleColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getVisibleColumns()"></tr>
  </table>

  <mat-paginator
    class="mat-paginator"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of data grid"
  >
  </mat-paginator>
</div>
