<mat-toolbar class="header-container">
  <div class="left-side-header">
    <div class="hamburger-btn-container">
      <ng-content></ng-content>
    </div>
    <div class="logo-container">
      <img src="/assets/logos/productivity-harbor-logo.png" alt="" />
    </div>
  </div>
  <div class="right-side-header">
    <button
      mat-button
      class="theme-switcher"
      (click)="onThemeSwitcherClicked()"
    >
      @if (this.theme() === 'light') {
      <mat-icon @switchTheme>brightness_high</mat-icon>
      } @else {

      <mat-icon @switchTheme>brightness_2</mat-icon>
      }
    </button>

    <span>Username</span>
    <span>Avatar</span>
  </div>
</mat-toolbar>
