.header-container {
  background-color: rgb(223, 229, 233);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  height: 10%;
}

.right-side-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left-side-header {
  display: flex;
  align-items: center;
}
