<mat-toolbar class="header-container">
  <div class="left-side-header">
    <div class="hamburger-btn-container">
      <ng-content></ng-content>
    </div>
    <div class="logo-container">
      @if(this.theme() === 'light') {
      <img src="/assets/logos/productivity-harbor-logo.png" alt="App Logo" />
      } @else if(this.theme() === 'dark') {
      <img
        class="ph-app-logo"
        src="/assets/logos/productivity-harbor-logo-white-transparent.png"
        alt="App Logo"
      />
      }
    </div>
  </div>
  <div class="right-side-header">
    <button
      mat-button
      class="theme-switcher"
      (click)="onThemeSwitcherClicked()"
    >
      @if (this.theme() === 'light') {
      <mat-icon @switchTheme>brightness_high</mat-icon>
      } @else {

      <mat-icon @switchTheme>brightness_2</mat-icon>
      }
    </button>

    <span>{{ user()?.UserName }}</span>
    <button class="user-avatar-btn" mat-button [matMenuTriggerFor]="userMenu">
      <img [src]="user()?.Avatar" alt="User Avatar" class="user-avatar" />
    </button>
    <mat-menu #userMenu="matMenu">
      <button (click)="onProfileClick(user()!)" mat-menu-item>Profile</button>
      <button (click)="onLogoutClick()" mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>

@if (isUserEditPopupVisible()) {
<ph-popup [isFullScreenMode]="true">
  <app-user-edit
    [userId]="user()!.Id"
    (exitScreen)="onExitScreen($event)"
  ></app-user-edit>
</ph-popup>
}
