.header-container {
  background: var(--ph-header);
  color: var(--ph-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--ph-fontSize-normal);
  height: 9%;
}

.right-side-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left-side-header {
  display: flex;
  align-items: center;
}
