.footer-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 6%;
  color: var(--ph-text);
  background: var(--ph-background1);
}

.copyright-text {
  font-size: var(--ph-fontSize-normal)
}
