/* For now commented out, need to check if its working */
/* :host {
  position: fixed;
  inset: 0;
  z-index: 9999 !important;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.ph-popup-content {
  background: var(--ph-background1);
  color: var(--ph-text);
  max-height: 100vh;
  overflow-y: auto;
  max-width: 100vw;
  width: 100%;
  height: 100%;
}

.ph-popup-backdrop {
  position: fixed;
  inset: 0;
  background: var(--ph-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.ph-popup-header {
  text-align: center;
  font-size: var(--ph-fontSize-large);
}

