:host {
  position: fixed;
  inset: 0;
  z-index: 9999 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ph-popup-content {
  background: white;
  max-height: 100vh;
  overflow-y: auto;
  max-width: 100vw;
  width: 100%;
  height: 100%;
}

.ph-popup-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.ph-popup-header {
  text-align: center;
  font-size: var(--crm-fontSize-medium-l);
}
/* OLD CSS */
/* .popup-content {
  background: white;
  border-radius: 0.8rem;
  padding: 1.5rem;
  max-height: 90vh;
  overflow-y: auto;
  max-width: 95vw;
  width: 100%;
  box-shadow: 0 0.3rem 1.7rem rgba(0, 0, 0, 0.2);
  position: relative;
} */
