<mat-form-field>
  @if (searchEnabled()) {
  <div class="ph-input-container">
    <!-- With search enabled -->
    <input
      class="ph-select-box-input"
      matInput
      type="text"
      [placeholder]="placeholder()"
      [matAutocomplete]="auto"
      [(ngModel)]="value"
      (ngModelChange)="onValueChange()"
    />
    @if (this.showClearButton()) {
    <button
      class="ph-cancel-btn"
      mat-button
      (click)="onClearButtonClick(value)"
    >
      <mat-icon>cancel</mat-icon>
    </button>
    } @else {
    <mat-icon>arrow_drop_down</mat-icon>
    }
  </div>

  <mat-autocomplete
    [displayWith]="displayFn.bind(this)"
    #auto="matAutocomplete"
  >
    @for (item of dataSource(); track item.Id;) {
    <mat-option
      [value]="item[this.valueExpr()!]"
      (click)="onSelectionChanged(item)"
    >
      {{ item[this.displayExpr()!] }}
    </mat-option>
    }
  </mat-autocomplete>
  }
  <!-- Without search enabled -->
  @else {
  <mat-select>
    @for (item of dataSource(); track item.Id;) {
    <mat-option
      [value]="item[this.displayExpr()!]"
      (click)="onSelectionChanged(item)"
    >
      {{ item[this.displayExpr()!] }}
    </mat-option>
    }
  </mat-select>
  }
</mat-form-field>
