<div class="popup-container">
  <div [ngClass]="['popup-inner-container', popupType]">
    <div mat-dialog-title class="title-text">{{ data.title }}</div>
    <div mat-dialog-content class="popup-message">
      {{ data.message }}
    </div>

    <div mat-dialog-actions class="action-buttons-container">
      <button class="cancel-btn" mat-button (click)="onCancel()">
        {{ data.cancelText }}
      </button>
      <button class="confirm-btn" mat-button (click)="onConfirm()">
        {{ data.confirmText }}
      </button>
    </div>
  </div>
</div>
