<div class="popup-container">
  <div class="popup-inner-container">
    <div mat-dialog-title class="title-text">{{ data.Title }}</div>
    <div mat-dialog-content class="popup-message">
      {{ data.Message }}
    </div>

    <div mat-dialog-actions class="action-buttons-container">
      <button class="cancel-btn" mat-button (click)="onCancel()">
        {{ data.CancelText }}
      </button>
      <button class="confirm-btn" mat-button (click)="onConfirm()">
        {{ data.ConfirmText }}
      </button>
    </div>
  </div>
</div>
