.header-container {
  background: var(--ph-header);
  color: var(--ph-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--ph-fontSize-normal);
  height: 9%;
}

.right-side-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left-side-header {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.ph-app-logo {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.user-avatar-btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.ph-header-username {
  font-size: var(--ph-fontSize-small);
}

.theme-switcher {
  background: none;
  border: none;
  color: var(--ph-theme-switcher);
  cursor: pointer;

  display: inline-grid;
  place-items: center;
}

.theme-switcher mat-icon {
  grid-area: 1 / 1;
}

.fade-in {
  animation: slide-fade-in 600ms ease-in-out forwards;
}

.fade-out {
  animation: slide-fade-out 600ms ease-in-out forwards;
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(15px);
  }
}
