<ph-toolbar [title]="title()"></ph-toolbar>
<ph-container>
  <ph-data-grid
    #usersGrid
    [dataSource]="usersDataSource"
    [columns]="columns"
    [canEdit]="true"
    [canDelete]="true"
    [canCreate]="true"
    [canRefresh]="true"
    (editRow)="onEditRowClicked($event)"
    (savedRow)="onSaveRowClicked($event)"
    (deleteRow)="onDeleteRowClicked($event)"
    (create)="onCreateNewUser($event)"
    (refresh)="onRefreshClicked($event)"
  ></ph-data-grid>
</ph-container>

@if (isUserEditPopupVisible()) {
<ph-popup [hideOnOutsideClick]="false" [isFullScreenMode]="true">
  <app-user-edit
    [userId]="userId()"
    (exitScreen)="onUserEditExitClicked($event)"
  ></app-user-edit>
</ph-popup>
}
