.inner-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(4, 0.1fr);
  row-gap: 2rem;
}

// Avatar (Grid Item)
.avatar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  grid-column: 1;
  grid-row: 2;
  box-shadow: 0 0.5rem 1rem 1rem var(--ph-lightdark);
  border-radius: 0.5rem;
}

// User Information (Grid Item)
.user-information-container {
  grid-column: 2;
  grid-row: 3 / span 6;
  display: flex;
  gap: 1rem;
}

// Social Media (Grid Item)
.user-social-media-container {
  width: 60%;
  grid-column: 1;
  grid-row: 4;
}

.user-avatar-wrapper {
  position: relative;
  bottom: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0.2rem 0.5rem 0.5rem var(--ph-blue-200);
}

.user-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-avatar-overlay {
  color: var(--ph-light);
  background-color: var(--ph-shadow);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%;
  cursor: pointer;
  font-size: var(--crm-fontSize-large);
}

.user-avatar-wrapper:hover, .user-avatar-overlay:hover {
  opacity: 1;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.6rem
}

.sm-icon {
  font-size: var(--crm-fontSize-medium-l);
}

.fa-brands.fa-facebook {
  color: var(--ph-blue-150);
}

.fa-brands.fa-instagram {
  color: var(--ph-red-100);
}

.fa-brands.fa-linkedin {
  color: var(--ph-blue-150);
}

.user-fullname {
  font-size: var(--crm-fontSize-medium-l);
}

.contact-box, .personal-info-box {
  width: 100%;
  box-shadow: 0.1rem 0.2rem 0.5rem var(--ph-dark);
  padding: 0.7rem;
  border-radius: 0.5rem;
}

// INNER GRID
.contact-inner-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  width: 100%;
}

.user-home-phone {
  grid-column: 1;
  grid-row: 1;
}
.user-work-phone {
  grid-column: 2;
  grid-row: 1;
}
.user-mobile-phone {
  grid-column: 3;
  grid-row: 1;
}
.user-email {
  grid-column: 1;
  grid-row: 3;
}

// INNER GRID
.personal-info-inner-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  width: 100%;
}

.title-align {
  text-align: left;
  font-size: var(--crm-fontSize-medium-l);
  margin-bottom: 1rem;
  box-shadow: 1px 1px 1px 0px var(--ph-dark);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: bold;
}

.flexbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

::ng-deep .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
  background-color: var(--ph-success) !important;
}

@media screen and (max-width: 1350px) {
  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
  }

  // Avatar (Grid Item)
.avatar-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.1rem;
}

// User Information (Grid Item)
.user-information-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}

// Social Media (Grid Item)
.user-social-media-container {
  display: flex;
  flex-direction: column;
  width: 90%
}
}
