
<mat-form-field>
  <mat-label>Username</mat-label>
  <input matInput [(ngModel)]="username" name="Username" placeholder="Username">
</mat-form-field>
<mat-form-field>
  <mat-label>Email</mat-label>
  <input matInput [(ngModel)]="email" name="Email" placeholder="Email">
</mat-form-field>
<mat-form-field>
  <mat-label>Password</mat-label>
  <input matInput [(ngModel)]="password" name="Password" placeholder="Password">
</mat-form-field>
<mat-form-field>
  <mat-label>Fullname</mat-label>
  <input matInput [(ngModel)]="fullname" name="Fullname" placeholder="Fullname">
</mat-form-field>

<button (click)="onRegisterClick()">Register</button>
